body {
	background-color:  #001954;
	text-align:  center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
p{
	color: white;
	font-family:  Arial;
	font-size:  3em;
	margin: 20px;
	font-weight: bold;
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
select{
	width:  125px;
	height:  40px;
	margin:  20px;
	border: none;
	border-radius:  10px;
	font-family:  arial;
	text-align:  center;
	font-size:  1.2em;
}
input{
	width:  125px;
	height:  40px;
	margin:  20px;
	border: none;
	border-radius:  10px;
	font-family:  arial;
	text-align:  center;
	font-size:  1.2em;
}
label{
	color: white;
	width:  125px;
	height:  40px;
	margin-top:  3px;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;
	border: none;
	font-family:  arial;
	text-align:  left;
	font-size:  1em;
	display: inline-block;
	font-weight: bold;
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
div {
	text-align:  center;
	
  	position: relative;
}
