<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's My Race Pace</title>
    <link rel="stylesheet"  href="{{
      url_for('static', filename='css/main.css')}}">
</head>
<div class="container">
<body>
   <br>
   <form action="MyRacePace" method="post">
      {% for message in get_flashed_messages()%}
         <p> {{message}}</p>
      {% endfor %}
      <br>
      <select name="distance" id="distance" class="distance">
         <label for="distance">Distance</label>
         <option value="26.2">Marathon</option>
         <option value="13.1">Half-Marathon</option>
         <option value="6.2">10K</option>
         <option value="3.1">5K</option>
      </select>
      <br>
      <select type= "number" name="hour" required value="0">
         <option value="0">0</option>
         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>
         <option value="6">6</option>
      </select>
      <input type="number" name="minutes" required value="0" min="0" max="59">
      <input type="number" name="seconds" required value="0" min="0" max="59"><br>
      <label for="hour">Hours</label>
      <label for="minutes">Minutes</label>
      <label for="seconds">Seconds</label>
      <br>
      <input type="submit" value="Calculate" id="calculate">
   </form>
</body>
</div>
</html>